:root {
    /* Color Theme Swatches in Hex */
    --bg-dark: #1A2126; /*Dark tone*/
    --shadow-dark: #353C40; /*Dark tone*/
    --panel-gray: #878A8C; /*Medium tone*/
    --white-highlight: #DEDEDE; /*Light tone*/
    --light-gray :#D9D9D9; /*Light tone*/

    --bg-brown: #262626;
    --darker-panel-gray: #7D858C;
    --darker-darker-panel-gray: #425059;
    --darker-light-gray: #657371;
    --lighter-dark-gray: #808C8B;

    /*Number Original Colors*/
    /*--num-1: #0000ff; Blue*/
    /*--num-2: #008000; Green*/
    /*--num-3: #ff0000; Red*/
    /*--num-4: #000080; Dark Blue*/
    /*--num-5: #800000; Maroon*/
    /*--num-6: #008080; Teal*/
    /*--num-7: #000000; Black*/
    /*--num-8: #808080; Gray*/

    /*Number Colors*/
    --num-1: #6fa8ff; /*Blue*/
    --num-2: #6ecf8b; /*Green*/
    --num-3: #ff7a7a; /*Red*/
    --num-4: #7f8cff; /*Dark Blue*/
    --num-5: #d27a7a; /*Maroon*/
    --num-6: #6fd1d1; /*Teal*/
    --num-7: #555555; /*Black*/
    --num-8: #b5b5b5; /*Gray*/

    --cell-size: 34px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: var(--bg-brown);
    margin: 0;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

.game-buttons {
    margin-bottom: 20px;
    color: var(--white-highlight);
}

.main-container {
    width: fit-content;
    margin: 0 auto;

    background-color: var(--darker-darker-panel-gray);
    padding: 12px;
    border-top: 4px solid var(--darker-light-gray);
    border-left: 4px solid var(--darker-light-gray);
    border-right: 4px solid var(--bg-dark);
    border-bottom: 4px solid var(--bg-dark);

    max-width: 95vw;
    max-height: 90vh;

    display: flex;
    flex-direction: column;
    user-select: none;
}

.status-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 10px;
    margin-bottom: 15px;
    background-color: var(--darker-darker-panel-gray);

    border-top: 4px solid var(--bg-dark);
    border-left: 4px solid var(--bg-dark);
    border-bottom: 4px solid var(--darker-light-gray);
    border-right: 4px solid var(--darker-light-gray);
}

.led-display {
    background-color: black;
    padding: 2px;
    display: flex;

    border-top: 3px solid var(--bg-dark);
    border-left: 3px solid var(--bg-dark);
    border-bottom: 3px solid var(--darker-light-gray);
    border-right: 3px solid var(--darker-light-gray);
}

#reset {
    width: 45px;
    height: 45px;

    background-color: var(--darker-darker-panel-gray);
    border-top: 4px solid var(--darker-light-gray);
    border-left: 4px solid var(--darker-light-gray);
    border-right: 4px solid var(--bg-dark);
    border-bottom: 4px solid var(--bg-dark);

    font-size: 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
}

#reset:active {
    border-top: 4px solid var(--bg-dark);
    border-left: 4px solid var(--bg-dark);
    border-bottom: 4px solid var(--darker-light-gray);
    border-right: 4px solid var(--darker-light-gray);
}

#game-border {
    width: fit-content;
    border: 4px solid;
    border-color: var(--bg-dark) var(--darker-light-gray) var(--darker-light-gray) var(--bg-dark);
}

#game {
    display: grid;
    background-color: var(--bg-dark);
    gap: 0;
}

.cell {
    width: var(--cell-size);
    height: var(--cell-size);

    background: var(--darker-darker-panel-gray);
    border-top: 4px solid var(--darker-light-gray);
    border-left: 4px solid var(--darker-light-gray);
    border-right: 4px solid var(--bg-dark);
    border-bottom: 4px solid var(--bg-dark);

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: "Bree Serif", serif;
    font-weight: 800;
    font-style: normal;
    font-size: 24px;

    cursor: pointer;
    box-sizing: border-box;
}

.cell.revealed {
    background-color: var(--darker-darker-panel-gray);
    border: 1px solid var(--bg-dark);
    cursor: default;
}

.n-1 { color : var(--num-1); }
.n-2 { color : var(--num-2); }
.n-3 { color : var(--num-3); }
.n-4 { color : var(--num-4); }
.n-5 { color : var(--num-5); }
.n-6 { color : var(--num-6); }
.n-7 { color : var(--num-7); }
.n-8 { color : var(--num-8); }

.cell.revealed.exploded {
    background-color: #b44242 !important;
}

.cell.revealed.bomb {
    background-color: var(--darker-darker-panel-gray);
}

.difficult-selector {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.diff-btn {
    flex: 1;
    background: var(--darker-darker-panel-gray);
    padding: 8px 0;
    width: 7.8rem;

    font-family: "Bree Serif", serif;
    font-weight: bold;
    font-size: 12px;

    cursor: pointer;
    color: var(--bg-dark);
    border-top: 4px solid var(--lighter-dark-gray);
    border-left: 4px solid var(--lighter-dark-gray);
    border-right: 4px solid var(--bg-dark);
    border-bottom: 4px solid var(--bg-dark);
}

.diff-btn.active {
    background: var(--darker-light-gray);
    color: var(--bg-dark);

    border-top: 4px solid var(--lighter-dark-gray);
    border-left: 4px solid var(--lighter-dark-gray);
    border-right: 4px solid var(--bg-dark);
    border-bottom: 4px solid var(--bg-dark);
}

.diff-btn:hover:not(.active) {
    background: var(--darker-light-gray);
    color: var(--bg-dark);
}